[submodule "level1-fallback/lib/forge-std"]
	path = level1-fallback/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "level2-fallout/lib/forge-std"]
	path = level2-fallout/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "level3-coinflip/lib/forge-std"]
	path = level3-coinflip/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "level4-telephone/lib/forge-std"]
	path = level4-telephone/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "level5-token/lib/forge-std"]
	path = level5-token/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "level6-delegation/lib/forge-std"]
	path = level6-delegation/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "level7-force/lib/forge-std"]
	path = level7-force/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "level8-vault/lib/forge-std"]
	path = level8-vault/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "level9-king/lib/forge-std"]
	path = level9-king/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "level10-reentracy/lib/forge-std"]
	path = level10-reentrancy/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "level11-elevator/lib/forge-std"]
	path = level11-elevator/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "level12-privacy/lib/forge-std"]
	path = level12-privacy/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
