[submodule "level1-fallback/lib/forge-std"]
	path = level1-fallback/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "level2-fallout/lib/forge-std"]
	path = level2-fallout/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
